body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgOyPvz8OCMRthXpj1wEvJtjgZ8fBf5QvEr77eVmQzR31Mg_g8Eh6eIYqaQG6WTIcTwc&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: aliceblue;
}

.btn {
    background-color: orange;
    color: black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

img {
    border-radius: 20px;
    border: 2px solid green;
    box-shadow: 0 0 7px #666;
}

.fixedbut {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background: #2db700;
    color: #fff;
    text-decoration: none;
    padding: 6px 23px;
    font-size: 17px;
}

    .fixedbut:hover {
        background: #222;
    }