body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgOyPvz8OCMRthXpj1wEvJtjgZ8fBf5QvEr77eVmQzR31Mg_g8Eh6eIYqaQG6WTIcTwc&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: aliceblue;
}

.btn {
    background-color: orange;
    color: black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 350px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

img {
    border-radius: 20px;
    border: 2px solid green;
    box-shadow: 0 0 7px #666;
}

.fixedbut {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background: #2db700;
    color: #fff;
    text-decoration: none;
    padding: 6px 23px;
    font-size: 17px;
}

    .fixedbut:hover {
        background: #222;
    }
.partner-card img {
    max-width: 40%; /* Максимальная ширина картинки */
    height: auto;
}

.partner-card {
    padding: 10px;
    width: 350px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}
.join {
    margin-left: auto;
    margin-right: auto;

}

.partner-logo {
    max-width: 100px;
    align-items: center;
}

.h2 {
    margin-bottom: 44px;
}

.partner-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#company {
    text-align: center;
}

.orders-card img {
    max-width: 100%; /* Максимальная ширина картинки */
    height: auto;
}

.orders-card {
    padding: 10px;
    width: 350px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.orders-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orders-logo {
    max-width: 100px;
    align-items: center;
}
}
#cmp {
    display:flex;
    justify-content:center;
}
.join textarea{
    height:140px;
    width: 350px;
    resize:none;
}

.result {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

    .result table {
        /*border-collapse: collapse;*/
        width: 100%;
    }

    .result thead {
        position: sticky;
        top: 0;
        background-color: orange;
        border: 1px solid #602939;
    }

    .result th {
        border: 1px solid #602939;
        padding: 8px;
        text-align: left;
    }

    .result td {
        border: 1px solid #602939;
        padding: 8px;
        text-align: left;
    }

    .result tbody {
        background-color: #fafde899;
    }
}

.cardReview {
    border: groove;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: white;
}

.reviewText {
    width: fit-content;
    font-size: 22px;
    background-color: #ffd00075;
}

.cardReview h3{
    margin: 0px;
}